<div class="an" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form [formGroup]="especialistaForm">
                <h1>Registrar Especialista</h1>
                <span>Utilice su correo electrónico para registrarse</span>
                <input type="text" placeholder="Nombre" class="input" formControlName="nombre" required>
                <input type="email" placeholder="Email" class="input" formControlName="email" required>
                <input type="password" placeholder="Password" class="input" formControlName="password" required>
                <input type="tel" placeholder="Teléfono" class="input" formControlName="telefono">
                <input type="text" placeholder="Especialidad" class="input" formControlName="especialidad">
                <input type="hidden" formControlName="fecha_registro" formControlName="fecha_registro">
                <button type="submit" class="btn btn--primary" [disabled]="!especialistaForm.valid" (click)="registrarEspecialista()">Registrarse</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form [formGroup]="especialistaForm2">
                <a routerLink="/bienvenido-estudiante" routerLinkActive="activado"></a>
                <h1>Iniciar Sesion Especialista</h1>
                <span>o Ingrese su email y contraseña</span>
                <input type="email" placeholder="Email" formControlName="email2">
                <input type="password" placeholder="Password" formControlName="password2">
                <a href="#">¿Te olvidaste tu contraseña?</a>
                <button [disabled]="!especialistaForm2.valid" (click) ="loginEspecialista()" >Ingresar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>BIENVENIDO PERFIL DE ESPECIALISTA</h1>
                    <p>¿Ya tienes una cuenta?</p>
                    <button class="hidden" id="login">Iniciar Sesion</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>BIENVENIDO PERFIL DE ESPECIALISTA</h1>
                    <p>¿No cuentas con una cuenta?</p>
                    <button class="hidden" id="register">Regístrate</button>
                </div>
            </div>
        </div>
    </div>

    <script src="login1.js"></script>
</div>
